<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Klikandpay\Klikandpay</fullnamespace>
    <descriptive locale="en_US">
        <title>Payment method Klik&amp;Pay.</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Méthode de paiement Klik&amp;Pay.</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Christophe Laffont</name>
        <email>info@thelia.net</email>
    </author>
    <type>payment</type>
    <thelia>2.0.0</thelia>
    <stability>other</stability>
</module>
